body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board{
    width: 900px;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
}
.points{
    background-color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}